
body{
    background-image: url(descarga.jpeg);
    font-family: tahoma;
}
h1 {
    font-family: Courier;
    color: #23819C;
    font-size: 45px;
    border: dashed;
    border-color: #2897B7;
    background-color: #BBDAFF;
    border-radius: 20px;
}

h2{
    background-color: #C9EAF3;
    color: #1F88A7;
    border-radius: 10px;
    border: dashed;
}

h3{
    font-family: verdana;
    margin-Left:20px;
}

h4{
    padding: 4px;
}

a{
    padding: 6px;
}

.div2{
    background-color: #C9EAF3;
    border-radius: 20px;
   
}

.img2 {
    border-radius: 70px;
    
}

p{
    margin-left: 30px;
    font-size: 18px;
}

.proyecto {
    display: flex;
    align-items: center;
}
.proyecto img {
    margin-left: 100px;
    width: 300px;
    height: 112px;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
}

table{
    border: dashed;
    border-color: #1F88A7;
}
caption{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}






