
body{
    background-image: url(descarga.jpeg);
    font-family: tahoma;
}
h1 {
    font-family: Courier;
    color: purple;
    font-size: 45px;
    border: dashed;
    border-color: #872187;
    background-color: #EEBBEE;
    border-radius: 20px;
}

h2{
    background-color: #F4D2F4;
    color: #DD597D;
    border-radius: 10px;
    border: dashed;
}

h3{
    font-family: verdana;
    margin-Left:20px;
}

h4{
    padding: 4px;
}

a{
    padding: 6px;
}

div{
    background-color: #EEBBEE;
    border-radius: 20px;
}
img {
    border-radius: 70px;
}

p{
    margin-left: 30px;
    font-size: 18px;
}




